.container {
  padding-top: 10px;
  padding-bottom: 60px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.custom-range {
  display: flex;
  align-items: center;

  .custom-range-title {
    margin-right: 10px;
    white-space: nowrap;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
